<div class="app">
  <div class="layout" >

    <!-- Sidebar : liste des conversations -->
    <aside class="sidebar">
      <div class="sidebar-head">
        <h1>Mes conversations</h1>
        <input class="search" type="text" placeholder="Rechercher une conversation">
      </div>
      <div class="conv-list" id="convList">
        @for (conv of discussions(); track conv.date) {
          <div class="conv"
               routerLinkActive="active"
               (click)="selectConversation(conv.user.id)"
               [routerLink]="['/messageries/conversation', conv.user.id, conv.listing.id]">
            <div class="avatar">
              {{ getInitials(conv.user.pseudo) }}
            </div>
            <div class="conv-body">
              <div class="conv-top">
                <span class="conv-name">{{ conv.user.pseudo }}</span>
              </div>
              <p class="conv-snippet">{{ conv.lastMessage }}</p>
            </div>
          </div>
        }
      </div>
    </aside>

    <!-- Zone de chat -->
    <section class="chat">
      <router-outlet></router-outlet>
    </section>

  </div>
</div>