<section class="container">
    <div class="nav-bar">
        <nav id="sidebar">
            <h2 class="text-center">Paramètre</h2>
            <ul class="menu-links flex-column mt-3">
                <li><span>Compte</span></li>
                <li><a routerLink="/parametres/profil"><i class="bi bi-person-fill"
                            style="margin-right: 5px;"></i>Profil</a></li>
                <li><a routerLink="/parametres/securite"><i class="bi bi-lock-fill" style="margin-right: 5px;"></i>Sécurité</a></li>
                <li><a href=""></a></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </div>
    <div class="pages">
        <router-outlet></router-outlet>
    </div>
</section>